.padmain{
  margin-left:50px;
  margin-right:50px;
}

.publish-apptable, .publish-libtable{
  display:inline-block;
  vertical-align:top;
  padding-right:50px;
}

#bjstep2, #bjstep3{
  display:none;
}

.popmeup{
  position:absolute;
  display:none;
  width:360px;
  height:280px;
}

.thevalue{
  width:300px;
}

.tablelist tr {
  border: thin solid #0002;
  white-space: nowrap;
}

.tablelist tr:hover {
  background-color: #0002;
}

thead tr:hover {
  background-color: inherit !important;
}

