.flowcodeviewer {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  height:100%;
  background-color:black;
}

.floweditor {
  position:absolute;
  background-color:white;
  padding: 20px;
  width:auto;
  height:auto;
  color: rgba(0,0,0,.87);
}

.floweditor .mdl-selectfield__select{
  color: rgba(0,0,0,.87);
}

.toprightcorner {
  position:absolute;
  top:0px;
  right:0px;
}

.bottomcenter {
  position:absolute;
  bottom:0px;
  width:100%;
  text-align:center;
}