.thin3{
  font-size:small;
}

.thin4{
  height:80px;
  margin-top:-20px;
}

.thin5{
  height:40px;
  margin-top:-20px;
}

.identity-dialog{
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
}
