/generated/
version.txt
botd.properties
/html

/data/camera
/data/chuckme
/data/ds18b20
/data/flowlang
/data/positioning
/data/rfm96
/data/runtime
/data/truckbot

/runtime/camera
runtime/ds18b20
runtime/positioning
runtime/rfm96
runtime/truckbot

