.newparam {
  display:none;
}

.newparamaddbutton{
  font-size:10px;
  width:auto;
  height:auto;
  padding:5px;
}

.noborder{
  border:none;
}

.dontaddmethodparam{
  padding-top:3px;
  padding-bottom:4px;
  position:relative;
  top:-1px;
}

.mpdelete {
  vertical-align:middle;
  cursor:pointer;
  color:#7c7f86;
}

.behaviorflow{
  position:relative;
}