.installbutton{
  display:none;
  margin-top:20px;
}

.libid {
  min-width:120px;
}

.shrinkme {
  position:relative;
  overflow:hidden;
}

th, td{
  padding-top:12px;
  padding-bottom:12px;
  padding-left:24px;
  padding-right:18px;
  text-align:right;
  position:relative;
}

.mdl-data-table__cell--non-numeric{
  text-align:left;
}

.mdl-data-table {
  font-size:13px;
  border-collapse: collapse;
}

.mdl-menu__item:hover {
  background-color: #0002;
}

.mdl-menu__item[disabled], .mdl-menu__item[data-mdl-disabled] {
    color: #bdbdbd;
    background-color: transparent;
    cursor: auto;
}

.mdl-menu__item {
    display: block;
    border: none;
    color: rgba(0,0,0,.87);
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0 16px;
    outline-color: #bdbdbd;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    transition: opacity .2s cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.libstable tr {
  border: thin solid #0002;
  white-space: nowrap;
}

.libstable tr:hover {
  background-color: #0002;
}

thead tr:hover {
  background-color: inherit !important;
}

.peerselectpopup{
  position:absolute;
  z-index:1;
  white-space: nowrap;
  padding:0px;
}

.showpeersbutton{
  vertical-align: middle;
}

.plaincheckbox {
    margin-top:-6px;
}

.plaincheckbox > span {
    margin-right:-20px;
}

.libprog{
  width:330px;
}
