.titlebar {
  width:100%;
  font-size: 1em;
  min-height: 1.1em;
  text-align: center;
  display: block;
  padding: .7em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: 0!important;
  text-shadow: 0 0 0 #4b8c2a;
  font-weight: 500;
  line-height: 1.1;
  color: white;
  background-color:#4b8c2a;
  margin:0px;
}

.titlebutton{
  position:fixed;
  top:3px;
  width:54px;
  height:54px;
}

.titlebutton-left-1{
  left:5px;
}

.titlebutton-left-2{
  left:69px;
}

.titlebutton-right-1{
  right:5px;
}

.titlebutton-right-2{
  right:69px;
}
