.aligncenter{
  vertical-align:top;
}

.rp-status{
  float:right;
}

.rp-info {
  display:inline-block;
  vertical-align:top;
}

.rp-uuid {
  font-size:x-small;
}

.width100{
  width:100%;
}

.dark .mdl-tabs__tab{
  color:white;
  width:50%;
}

.dark .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{
  color:#83bc00;
}

.padsome{
  padding:20px;
}

.clickmore{
  cursor:pointer;
  vertical-align:middle;
}

.moreip{
  padding:10px;
  display:none;
}

.iconmode{
  width:140px;
  height:140px;
  display:inline-block;
  vertical-align:top;
}

.availablecontrols{
  display:none;
  color:black;
  height:300px;
}

.aclist{
  height: 200px;
  overflow-y: auto;
  width: 95%;
}

.actable{
  width:100%;
}

.whitetext, .controlsettings .mdl-button{
  color:white;
}

.whitetext input[type='checkbox'], .uptable input[type='checkbox'] {
  border-color:white;
}

.whitetext input[type='checkbox']:checked, .uptable input[type='checkbox']:checked {
  border-color:#83bc00;
}

.controlsettings{
  display:none;
}

.popmeup {
  width:80%;
  height:80%;
  display:none;
  z-index:100000;
}

.popupcontents{
  height:100%;
}

.deletepeerbutton{
  display:none;
  float:right;
  margin-top:30px;
}

.remlab{
  display:block;
  width:308px;
}

.remlab > .mdl-checkbox__label{
  color:white;
}

.remoteallowcheckboxes{
  display:none;
}

.rp-name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.nonstick{
  position:inherit;
}






.aclist th, .aclist td{
  padding-top:12px;
  padding-bottom:12px;
  padding-left:24px;
  padding-right:18px;
  position:relative;
}

.aclisttablebody tr:hover{
  background-color: #0002;
}

.controlsettings ul{
  list-style-type: none;
}






.mdl-data-table__cell--non-numeric{
  text-align:left;
}

.mdl-data-table {
  font-size:13px;
  border-collapse: collapse;
}

.mdl-menu__item:hover {
  background-color: #0002;
}

.mdl-menu__item[disabled], .mdl-menu__item[data-mdl-disabled] {
    color: #bdbdbd;
    background-color: transparent;
    cursor: auto;
}

.mdl-menu__item {
    display: block;
    border: none;
    color: rgba(0,0,0,.87);
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0 16px;
    outline-color: #bdbdbd;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    transition: opacity .2s cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.morebutton{
  vertical-align:middle;
}

.rp-more{
  position:absolute;
  z-index:10;
  margin:0px;
  padding-right:0px !important;
  display:none;
}

.rp-more ul{
  padding:0px;
  margin:0px;
}

