.updatebutton, .showupdates{
  display:none;
}

.altitle{
  font-size:large;
  margin-bottom:10px;
}

.libprog {
  width:100%;
}

.mdl-snackbar__action:hover{
  color:#83bc00;
}

.updatemsg{
  font-style:italic;
}

.truncme {
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;         
  text-overflow: ellipsis;
}

.uptable{
  position:relative;
  width:100%;
  color:white;
}

.libprog{
  margin-top:5px;
}

.nothingavail{
  display:none;
}