.hidden{
  display:none;
}

.pubindent{
  margin:50px;
  max-width:100%;
}

.center{
  text-align:center;
}

.butpad {
  padding:10px;
  font-size:large;
  text-transform: uppercase;
}

#pa_msg{
  padding-bottom:20px;
}

.publishappwrapx{
  width:100%;
}

.xwide{
  width:100%;
}

.pubform {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.pubform > form{
  width:600px;
  max-width:67vw;
  margin-left:20px;
  margin-right:20px;
}

#deletethiscontrol{
  float:right;
}