.tab-content{
  position:relative;
}

.usercontrols, .devicecontrols{
  position:absolute;
  top:0px;
  right:0px;
}

.userfilter, .newuser, .devicefilter {
  display:inline-block;
  margin-left:20px;
}

.adduserbutton {
  display:inline-block;
  opacity:0.5;
}

.userrow{
  cursor:pointer;
}

.userrow:hover{
  background-color:#0002;
}

.userrow{
  vertical-align:top;
}

.edituserpopup, .editapppopup{
  display:none;
  width:600px;
  height:600px;
  position:absolute;
}

.editapppopup{
  height:520px;
}
