.usercard{
  width:340px;
}

.usercontrols{
  position:absolute;
  top:20px;
  right:20px;
}

.userfilter, .newuser {
  display:inline-block;
  margin-left:20px;
}

.wrap{
  height:100%;
}

.main {
  position:relative;
  height:calc(100% - 100px);
}

.whenon{
  display:none;
}

.userrow{
  cursor:pointer;
}

.userrow:hover{
  background-color:#0002;
}

.userrow{
  vertical-align:top;
}

.usertitle {
  font-size:x-large;
  font-weight:900;
  margin-top:40px;
}

.usercard-close{
  position:absolute;
  top:10px;
  right:10px;
}

.usercard-grouplist{
  background-color:#0001;
  height:80px;
  overflow-y:auto;
}

.textinput.usercard-newgroupname, .textinput.newusername{
  width:205px;
}

.roundbutton{
  width:40px;
  cursor:pointer;
}

.roundbutton.addgroupbutton{
  margin-top:-20px;
}

.nowrap{
  white-space:nowrap;
}

.userlist {
  position: absolute; /* Position the list relative to its parent `.main` */
  top: 110px; /* Adjust top to start below the title and other controls */
  bottom: 20px; /* Extend to 20px from the bottom of the parent */
  left: 20px; /* Align with other content on the left */
  right: 20px; /* Align with other content on the right */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}