.padsides{
  margin-left:50px;
  margin-right:50px;
}

.mdl-data-table-wrapper{
  display:inline-block;
  vertical-align:top;
  margin-right:50px;
}

.deletelibrarybutton{
  float:right;
}

.mdc-list-item__graphic{
  cursor:pointer;
}

.chiptable{
  position:relative;
  top:-20px;
  font-size:xx-small;
}

.cryptocell{
  font-size:16px;
}

.groupmenupopup{
  position:absolute;
  z-index:1;
  padding:0px;
}

#groupmenu, .editctlicon, .deleteasseticon{
  vertical-align:middle;
  width:24px;
  height:24px;
}

#groupmenu:hover, .editctlicon:hover, .deleteasseticon:hover{
  background-color:#ddd;
  border-radius:16px;
  border:4px solid #ddd;
  margin:-4px;
}