.mdl-button--fab.mdl-button--colored{
  background-color:#83bc00;
}

.mdl-button--fab.mdl-button--colored:hover{
  background-color:#b7ef49;
}

.installareax{
  position:absolute;
  top:160px;
  left:290px;
  right:100px;
  z-index:100;
}

.appupdatebutton{
  color:#83bc00;
  position:absolute;
  bottom:39px;
  right:20px;
  display:none;
}

.Xmdl-card__actions{
  position:relative;
}

.app-card-square > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #7c7f8688;
}

.app-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.app-card-square.mdl-card {
  width: 200px;
  height: 200px;
  background: url('../metabot/img/icon-square-app-builder.png') center / cover;
  float: left;
  margin: 1rem;
  position: relative;
}

.app-card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.app-card-square{
  background: #7c7f8688;
  cursor:pointer;
}

.appbutton{
  display:none;
}

.restartarea{
  display:none;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised{
  color:white;
}

.appinfo-meta{
  margin-top:50px;
  margin-left:50px;
}

.appinfo-close{
  color:white;
}

.flex{
  display:flex;
  flex-wrap: wrap;
  width:100%;
}

.greyout{
  position:fixed;
  z-index:50;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:#00000033;
  display:none;
}

.app-detail{
  display:none;
  position:fixed;
  width:0px;
  height:0px;
  z-index:51;
}

.appinfo-header{
  background-color:#7c7f86;
  color:white;
  position:sticky;
  top:0px;
}

.appinfo-img{
  width:200px;
  height:200px;
  margin-left:50px;
  margin-top:50px;
  display:inline-block;
}

.appinfo-api{
  margin:50px;
}

.maximize-icon{
  position:absolute;
  top:20px;
  right:10px;
  width:20px;
  height:20px;
  background-color:transparent;
  border: 4px solid transparent;
  opacity:0.5;
}

.maximize-icon:hover{
  background-color:#0002;
  border-color:#0002;
}
