#headertitle{
  width:100%;
  font-size: 1em;
  min-height: 1.1em;
  text-align: center;
  display: block;
  padding: .7em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: 0!important;
  text-shadow: 0 0 0 #4b8c2a;
  font-weight: 500;
  line-height: 1.1;
  color: white;
  background-color:#4b8c2a;
  margin:0px;
}

.wrap{
  background-color:#888;
  position:relative;
  border-width:0px;
  width:100%;
}

.wrap h2 {
  width:100%;
  text-align:center;
  position:absolute
  top:-10px;
  left:0px;
  color:white;
}

.pb-peer-more{
  width:300px;
  height:155px;
  overflow-y: auto;
}

.peerholder, .pb-accesscode{
  border:thin solid black;
  margin-bottom:-1px;
  margin-right:-1px;
  display:inline-block;
  vertical-align:top;
  color:white;
  position:relative;
}  

.pb-accesscode{
  background-color:#d9dbe0;
  color:black;
}

.addcon, .addcode, .addinvite{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  overflow-y:auto;
}

.addconwrap, .addconwrap, .addinvitewrap{
  margin-top:60px;
  max-width:640px;
  margin-left:auto;
  margin-right:auto;
}

.pb-deviceinfo{
  text-align:center;
  text-shadow: 0 0 0 #000000;
  color:#84bd00;
  background-color:black;
  padding:10px;
  margin-bottom:20px;
}

.pb-tab{
  margin-right:30px;
}

.pb-peerlist, #botlist, #accesscodelist{
  margin-bottom:40px;
  text-align:center;
}