.reboot_peer_list {
  font-family: Arial;
}

.rebootselectedbutton{
  display:none;
  margin-top:40px;
}

.rebootablepeerstable{
  white-space: normal;
}

.tablelist tr {
  border: thin solid #0002;
  white-space: nowrap;
}

.tablelist tr:hover {
  background-color: #0002;
}

thead tr:hover {
  background-color: inherit !important;
}

