.closeeditmodelbutton{
  position:absolute;
  top:5px;
  right:5px;
}

.selectassetbutton{
  position:absolute;
  margin-top:-84px;
  left:300px;
}

.popmeup{
  position:absolute;
  display:none;
  width:330px;
  height:210px;
}

.clickme{
  cursor:pointer;
}