.editeventselect{
  color:white;
  border-bottom: thin solid #fff2;
}

.editeventselect option, .eventpicker option{
  color:black;
}

.bottom{
  margin-top:1.5px;
  white-space:nowrap;
}

.eventappselect {
  min-width:120px;
}

.eventpicker{
  width:16px;
  margin-left:-4px;
  border:none;
  background-color:transparent;
  color:white;
  border-bottom: thin solid #fff2;
  padding-bottom:7px;
  position:relative;
  top:-3px;
}

.selectedevent {
  width:auto;
  min-width:120px;
}