.CodeMirror {
  height:auto;
}

.menubuttonback, .pagetitle{
  display:inline-block;
  background-color: #282b30;
  padding:10px;
}

.greentext{
  color:#83bc00;
  margin-bottom:-20px;
}

.mdc-fab__icon{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
}

.dark{
  color:black;
}

.three{
  position:relative;
  width:100%;
  height:100%;
  display:none;
}

.popupdialog-cmd-name-close, .popupdialog-timer-name-close, .popupdialog-event-name-close{
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer;
  color:black;
}

.popupdialog-cmd-name, .popupdialog-timer-name, .popupdialog-event-name{
  position:fixed;
  top:200px;
  left:50%;
  width:400px;
  margin-left:-200px;
  display:none;
  z-index:3;
}
  
.savebutton{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index:5;
}

.previewbutton{
    position: absolute;
    top: 10px;
    right: 90px;
    z-index:5;
}

.addcommandbutton, .addtimerbutton, .addeventbutton{
  margin-top:-5px;
  font-size: large;
}

.whitetext, .overview-textrow > p{
  color:white;
}

.tablewhite{
  background-color:white;
  color:black;
}

.cmditem, .timeritem, .eventitem{
  cursor:pointer;
}

.overview{
  display:inline-block;
  vertical-align:top;
  margin-left:50px;
  margin-top:50px;
  background-color:white;
  color:black;
}

.commandlist, .timerlist, .eventlist{
  display:inline-block;
  vertical-align:top;
  margin-left:50px;
  margin-top:50px;
}

#previewrow{
  height:0px;
}

.html5{
  width:100%;
  height:100%;
}

.api, .publish, .info, .three{
  display:none;
  background-color:#282b30;
  color:white;
  width:100%;
  height:100%;
  overflow-y:auto;
}

.CodeMirror-scroll{
  height:100%;
}

.grabby-v{
  background-color:#505359;
  color:white;
  border-top:thin solid #7c7f86;
  border-bottom:thin solid #282b30;
  width:100%;  
  height:20px;
  position:relative;
}

.preview-title{
  padding-left:20px;
}

.zoomer{
  color:white;
  position:absolute;
  cursor:pointer;
}

.zoomer-min, .zoomer-pmin{
  right:21px;
  font-size:1.22em;
  top:2px;
}

.zoomer-max, .zoomer-pmax{
  top:0px;
  right:0px;
  font-size:1.4em;
}

.menubutton{
  cursor:pointer;
  color:white;
}

.editor{
  width:100%;
  height:100%;
  background-color:#282b30;
  color:white;
  overflow:hidden;
  position:relative;
  padding:0px;
}

.editor-title{
  position:absolute;
  display:inline-block;
  vertical-align:top;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-weight: bold;
  width:80px;
}

.editor-code{
  position:absolute;
  top:25px;
  left:20px;
  right:0px;
  bottom:0px;
}

.editor-code-textarea{
  width:100%;
  height:100%;
  background-color:#282b30;
  color:white;
  border:none;
}

.vbar, .grabbybar{
  width:20px;
  height:100%;
  display:inline-block;
  vertical-align:top;
  background-color:#505359;
  border-left:thin solid #7c7f86;
  border-right:thin solid #282b30;
}

.grabbybar{
  cursor: ew-resize;
}

.grabby-v{
  cursor: ns-resize;
}

.darkbg{
  vertical-align:top;
  background-color: #282b30;
  color:white;
}

.toolbar-theme-primary {
  background-color: #282b30;
  color: #fff;
  height: 56px;
  padding: 16px;
  flex-direction: row;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.toolbar-title {
  padding-top:12px;
}

.navbutton{
  position:relative;
  width: 25%;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  border:none;
  cursor:pointer;
  text-transform: uppercase;
  font-size:14px;
  background-color: #282b30;
  border-bottom: 2px #505359 solid;
  color: #7c7f86;
  text-shadow: 0 0 0 #7c7f86;
}

.navbutton:hover{
  color: white;
  text-shadow: 0 0 0 white;
}

.navbutton.selected{
  color: white;
  background-color:#fff2;
  text-shadow: 0 0 0 white;  
  border-bottom: 2px #7c7f86 solid;
}

iframe.width-changed {
    width: 100%;
    display: block;
    border: 0;
    height: 0;
    margin: 0;
}

.bgwhite{
  background-color:white;
  color:black;
}

.bggray{
  background-color:#7c7f86;
  color:white;
}

.bgdark{
  background-color:#282b30;
  color:white;
}

.bggreen{
  background-color:#84bd00;
  color:white;
}

.popupdialog-cmd-name-inner, .popupdialog-timer-name-inner, .popupdialog-event-name-inner{
  height:180px;
  color:black;
  background-color:white;
}

.grayout {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:#00000033;
  display:none;
  z-index:2;
}

.mdl-selectfield__select{
  color:#aaa;
}

